---
import BaseLayout from "@layouts/base_layout.astro";
import { Image } from "astro:assets";

import landingPage from "@images/kenedyolisi_landing_page.png";
import nextjsDashboard from "@images/nextjs_dashboard.png";

const projects = [
  {
    imgSrc: landingPage,
    description: "kenedyolisi.vercel.app landing page",
    href: "https://kenedyolisi.vercel.app",
  },
  {
    imgSrc: nextjsDashboard,
    description: "nextjs dashboard",
    href: "https://kenedyolisi-nextjs-dashboard.vercel.app",
  },
];

const title = "Projects";
---

<BaseLayout pageTitle={title}>
  <article>
    <h1 transition:animate="slide">{title}</h1>
    <p>🌐 Explore my portfolio for a glimpse of my recent projects.</p>

    <div class="row flex-column flex-lg-row g-4">
      {
        projects.map((project) => {
          return (
            <div class="col text-center border border-2 rounded-2 p-0 mx-lg-3">
              <figure class="figure">
                <Image
                  class="figure-image object-fit-cover img-fluid"
                  src={project.imgSrc}
                  alt={project.description}
                />
                <figcaption class="figure-caption">
                  {project.description}
                </figcaption>
              </figure>
              <a class="btn btn-primary m-3" href={project.href}>
                Go to project
              </a>
            </div>
          );
        })
      }
    </div>
  </article>
</BaseLayout>
