---
import { Image } from "astro:assets";
import BaseLayout from "@layouts/base_layout.astro";
import bootstrapLogo from "@images/bootstrap_logo.svg";
import reactLogo from "@images/react_logo.svg";
import tailwindcssLogo from "@images/tailwindcss_mark.svg";

const title = "Services I Provide";
---

<BaseLayout pageTitle={title}>
  <article class="mx-5 md:mx-10 lg:mx-20">
    <h1 transition:animate="slide">{title}</h1>
    <p>
      I'm passionate about creating exceptional web experiences through
      front-end development. Whether you're looking to build a brand-new website
      or enhance an existing one, I offer a range of services tailored to meet
      your needs.
    </p>
    <div class="grid  auto-cols-2">
      <section>
        <h2>Front-end Development</h2>
        <p>
          Crafting responsive and user-friendly interfaces using HTML, CSS
          (SCSS), and JavaScript (TypeScript)
        </p>
      </section>
      <section>
        <Image src={reactLogo} alt="react logo" width={100} />
        <h2>ReactJS Development</h2>
        <p>
          Building dynamic and efficient web applications with the ReactJS
          library.
        </p>
      </section>
      <section>
        <Image src={bootstrapLogo} alt="bootstrap logo" width={100} />
        <h2>Bootstrap Integration</h2>
        <p>
          Implementing responsive and modern design principles using the
          Bootstrap framework.
        </p>
      </section>
      <section>
        <Image src={tailwindcssLogo} alt="tailwindcss logo" width={100} />
        <h2>Tailwind Integration</h2>
        <p>
          Rapidly build modern websites using utility-first CSS framework
          without leaving HTML.
        </p>
      </section>
    </div>
  </article>
</BaseLayout>
