---
import services from "@data/services";
import Layout from "@layouts/layout.astro";
import { Image } from "astro:assets";

const title = "Services I Provide";
const description =
  "I provide frontend development services using technologies such as HTML, CSS, JavaScript, Bootstrap, TailwindCSS, and React.";
---

<Layout pageTitle={title} pageDescription={description}>
  <main>
    <h1 transition:animate="slide">{title}</h1>
    <p>
      I'm passionate about creating exceptional web experiences through
      front-end development. Whether you're looking to build a brand-new website
      or enhance an existing one, I offer a range of services tailored to meet
      client needs.
    </p>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6 lg:gap-8"
    >
      {
        services.map(({ title, description, image }) => {
          return (
            <section class="flex flex-col items-center gap-2 p-4 border rounded-lg">
              <Image src={image.src} alt={image.alt} width={50} />
              <h2 class="text-2xl">{title}</h2>
              <p>{description}</p>
            </section>
          );
        })
      }
    </div>
  </main>
</Layout>
