---
import { Icon } from "astro-icon/components";
import Logo from "@components/logo.astro";
import ThemeSwitcher from "@components/theme_switcher.astro";

const navLinks = [
  "about",
  "services",
  "projects",
  // "testimonials",
  "qualities",
  "blog",
  "contact",
];

const offcanvasId = "offcanvasNavbar";
---

<a
  class="mt-2 mx-auto py-2 px-4 text-white bg-primary rounded-2 visually-hidden-focusable"
  href="#main-content">Skip to main content</a
>

<header class="navbar navbar-expand-lg fixed-top">
  <nav class="container-fluid bg-white py-1" aria-label="site">
    <a class="navbar-brand" href="/" aria-label="go to home page">
      <Logo />
    </a>

    <button
      class="navbar-toggler p-1"
      data-bs-toggle="offcanvas"
      data-bs-target={`#${offcanvasId}`}
      type="button"
      aria-controls={offcanvasId}
      aria-label="toggle navigation"
    >
      <Icon name="menu" size={35} />
    </button>

    <div class="offcanvas offcanvas-end" id={offcanvasId} tabindex="-1">
      <div class="offcanvas-header">
        <a class="text-decoration-none text-primary fs-5 fw-semibold" href="/">
          <Logo />
          <span class="fs-5">Kenedy Olisi</span>
        </a>
        <button
          class="btn-close ms-auto border border-1 border-secondary-subtle"
          data-bs-dismiss="offcanvas"
          type="button"
          aria-label="close navbar"></button>
      </div>
      <div class="offcanvas-body d-lg-flex align-items-lg-center">
        <ul class="navbar-nav flex-grow-1">
          {
            navLinks.map((link) => {
              return (
                <li class="nav-item">
                  <a
                    class:list={[
                      "nav-link",
                      "ps-3",
                      "ps-lg-0",
                      "m-1",
                      "text-primary",
                      "text-capitalize",
                      {
                        active: Astro.url.pathname.startsWith(`/${link}`),
                      },
                    ]}
                    href={`/${link === "home" ? "" : link}`}
                  >
                    {link}
                  </a>
                </li>
              );
            })
          }
        </ul>
        <div>
          <hr class="d-lg-none" />
          <ThemeSwitcher />
        </div>
      </div>
    </div>
  </nav>
</header>

<script>
  const navbar = document.querySelector(".navbar");

  window.addEventListener("scroll", handleScroll);

  function handleScroll() {
    if (scrollY > 50) {
      navbar?.classList.add("shadow-sm");
    } else {
      navbar?.classList.remove("shadow-sm");
    }
  }
</script>
