---
const navLinks = [
  "home",
  "about",
  "services",
  "projects",
  "testimonials",
  "contact",
];

const navbarCollapseId = "navbar-collapse";
---

<a class="visually-hidden-focusable" href="#main-content"
  >Skip to main content</a
>

<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target={`#${navbarCollapseId}`}
      aria-controls={navbarCollapseId}
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id={navbarCollapseId}>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {
          navLinks.map((link) => {
            return (
              <li class="nav-item">
                <a
                  class:list={[
                    "nav-link",
                    "text-primary",
                    // {
                    //   active:
                    //     Astro.url.pathname === "/" ||(
                    //     Astro.url.pathname.startsWith(`/${link}`) && link!=="home")
                    // },
                  ]}
                  href={`/${link === "home" ? "" : link}`}
                >
                  {link}
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</nav>
