---
import technologiesData from "@data/technologies.json";
import Layout from "@layouts/layout.astro";
import { Picture } from "astro:assets";
import { getEntry } from "astro:content";

const { id } = Astro.params;

if (id === undefined) {
  throw new Error("Project id is required");
}

const project = await getEntry("projects", id);

if (project === undefined) {
  return Astro.redirect("/404");
}

const { title, image, technologies } = project.data;
---

<Layout pageTitle={`${title} | Projects`}>
  <main>
    <h1 class="capitalize">{title}</h1>
    <h2>Technologies</h2>

    <ul class="inline-flex gap-3 my-2">
      {
        technologies.map((technology) => {
          //@ts-ignore
          const brandColor = technologiesData[technology].brandColor;

          return (
            <li
              class={`p-2 rounded-md capitalize text-white `}
              style={`background-color: ${brandColor}`}
            >
              {technology}
            </li>
          );
        })
      }
    </ul>

    <Picture
      class="border-2 w-full md:w-3/4 mx-auto rounded-lg"
      src={image}
      alt={title}
      formats={["webp", "avif"]}
    />
  </main>
</Layout>
