---
import projects from "@data/projects.ts";
import technologies from "@data/technologies.json";
import Layout from "@layouts/layout.astro";

const { id } = Astro.params;

if (id === undefined) {
  throw new Error("Project id is required");
}

const project = projects.find((project) => {
  const slug = project.title.toLowerCase().split(" ").join("-");
  return slug === id ? project : null;
});

if (project === undefined) {
  return Astro.redirect("/404");
}

const { title, techs } = project;
---

<Layout pageTitle={`${title} | Projects`}>
  <main>
    <h1 class="capitalize">{title}</h1>
    <h2>Technologies</h2>

    <ul class="inline-flex gap-3 my-2">
      {
        techs.map((tech) => {
          const brandColor = technologies[tech].brandColor;

          return (
            <li
              class={`p-2 rounded-md capitalize text-white `}
              style={`background-color: ${brandColor}`}
            >
              {tech}
            </li>
          );
        })
      }
    </ul>

    {
      /* 
    <Picture
      class="border-2 w-full md:w-3/4 mx-auto rounded-lg"
      src={image}
      alt={title}
      formats={["webp", "avif"]}
    />
    */
    }
  </main>
</Layout>
