---
import Icon from "@components/icon.astro";
import Layout from "@layouts/layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const allProjects = await getCollection("projects");

const title = "Projects";
const description = "Check out my recent projects";

const technologies = [
  ...new Set(allProjects.map((project) => project.data.technologies).flat()),
];
---

<Layout pageTitle={title} pageDescription={description}>
  <div class="flex flex-col md:flex-row gap-4 px-8 sm:px-12 md:px-20">
    <aside
      class="sticky top-20 z-10 overflow-auto max-w-max md:min-w-60 max-h-screen px-5 bg-white dark:bg-dark space-y-2"
    >
      <button
        class="inline-flex items-center gap-2"
        id="filter-button"
        type="button"
      >
        <Icon name="funnel" />
        Filter
      </button>

      <div class="hidden md:block" id="filter-criteria">
        <details class="space-y-3" open>
          <summary class="flex justify-between items-center">
            <strong>Technology</strong>
            <Icon
              class="transition-transform duration-300"
              name="chevron-right"
            />
          </summary>

          <div class="space-y-3">
            <label class="inline-flex items-center gap-2">
              <input type="checkbox" />
              Select all
            </label>
            <div class="flex flex-col ms-3 space-y-3">
              {
                technologies.map((tech) => (
                  <label class="inline-flex items-center gap-2 capitalize ">
                    <input class="" name={tech} value={tech} type="checkbox" />
                    {tech}
                  </label>
                ))
              }
            </div>
          </div>
        </details>

        <details class="space-y-3" open>
          <summary class="flex justify-between items-center">
            <strong>Category</strong>
            <Icon
              class="transition-transform duration-300"
              name="chevron-right"
            />
          </summary>

          <div class="space-y-3">
            <label>
              <input class="" id="" name="" type="checkbox" />
              Select all
            </label>
            <div class="ms-3">
              <label class="inline-flex items-center gap-2">
                <input
                  id=""
                  name="portfolio"
                  type="checkbox"
                  value="portfolio"
                />
                Portfolio
              </label>
            </div>
          </div>
        </details>
      </div>
    </aside>

    <main class="p-0">
      <h1 transition:animate="slide">{title}</h1>
      <p>🌐 Explore my portfolio for a glimpse of my recent projects.</p>

      <ul class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {
          allProjects.map((project) => {
            const { image, title } = project.data;
            return (
              <li class="border-2 rounded-lg">
                <a class="no-underline" href={`/projects/${project.id}`}>
                  <Image src={image} alt={title} />
                </a>
              </li>
            );
          })
        }
      </ul>
    </main>
  </div>

  <style>
    main {
      margin: 0 !important;
    }

    details[open] summary svg {
      @apply rotate-90;
    }
  </style>
</Layout>

<script>
  const filterButton = document.getElementById(
    "filter-button"
  ) as HTMLButtonElement;

  const filterCriteria = document.getElementById(
    "filter-criteria"
  ) as HTMLElement;

  filterButton.addEventListener("click", () => {
    filterCriteria.classList.toggle("hidden");
  });
</script>
