---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import BaseLayout from "@layouts/base_layout.astro";

const projects = await getCollection("projects");

const title = "Projects";
const description = "Check out my recent projects";
---

<BaseLayout pageTitle={title} pageDescription={description}>
  <article>
    <h1 transition:animate="slide">{title}</h1>
    <p>🌐 Explore my portfolio for a glimpse of my recent projects.</p>

    <ul class="grid grid-cols-1 md:grid-cols-2 gap-6">
      {
        projects.map((project) => {
          const { image, description } = project.data;
          return (
            <li class="border-2 rounded-lg">
              <a class="no-underline" href={`/projects/${project.id}`}>
                <Image src={image} alt={description} />
              </a>
            </li>
          );
        })
      }
    </ul>
  </article>
</BaseLayout>
